<section>
    <div class="jumbotron text-center bg-picture">
        <div class="text-white">
            <h1>In Vino Veritas</h1>
            <p>Wir über uns.</p>
        </div>
        <div class="about-us-widget">
            <p>
                Wein ist eine schöne Sache! Deswegen sollten Sie Ihren Lieblingswein unkompliziert finden und geniessen können.
            </p>
            <p>
                Zur Freitext-Suche steht der Anbieter "wine.com" zur Verfügung, ein amerikanischer Vertrieb, der in erster Linie
                amerikanische Weine anbietet.
                <br/>
                Die Suche nach Weinen bei dem Discounter "Lidl" wird mit dem Einstellen von vier Kategorien ermöglicht.
                Bei erfolgreicher Suche wird unter anderem ein Button angezeigt, der nach einem Klick zu dem jeweiligen Online-Shop weiterleitet , von wo aus der Wein direkt bestellt
                werden kann.
                <br/>
                <br/>
                Unter "Mein Weindepot" haben Sie die Möglichkeit, Ihren eigenen Weinbestand zu pflegen, d.h. gekaufte Weine mit Sorte, Preis,
                 Anzahl, Bewertung, Datum und Ort des Kaufs usw. zu speichern. So können für gut empfundene Weine leichter wieder gefunden werden.
                <br/>
                <br/>
                <strong>Bitte beachten:</strong> Die Nutzung des Weindepots ist nur nach einer Anmeldung möglich. Zurzeit geschieht dies über ein Facebook Login.
            </p>
        </div>

    </div>
</section>