<section>
    <div class="jumbotron text-center bg-picture">
        <div class="text-white">
            <h1>In Vino Veritas</h1>
            <p>Wir über uns.</p>
        </div>
        <div class="about-us-widget">
            <p>
                Diese Webapplikation entstand im Rahmen eines studentischen E-Business-Projekts an der Beuth Hochschule in Berlin im Semester 2015/16.
            </p>
            <p>
                Die Umsetzung der Suche wurde über verschiedene APIs realisiert. Hier gilt mein besonderer Dank der Firma wine.com und import.io, deren APIs ich nutzen konnte.
                <div style="margin-top: -30px; margin-bottom: -30px;">
                    <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts" style="margin-left:100px; margin-right:200px;">
                        <img class="center" src="http://cache.wine.com/images/logos/160x40_winecom_logo.png"
                             alt="Wine.com the destination for Wine and Wine Gifts" />
                    </a>
                    <a href="http://www.import.io/"><img src="../assets/images/logos/import_io.png"></a>
                </div>
            </p>
            <p>
                <strong>UPDATE: </strong>Da die Betreiber ihre APIs nicht mehr öffentlich zur Verfügung stellen, ist die Funktionalität der App eingeschränkt (zurzeit keine Abfragen möglich).

                (Stand: November 2017).
            </p>

            <p>
                Kontakt: Thomas Mundt, Email: <a href="mailto:info@thomas-mundt.de">info@thomas-mundt.de </a>
            </p>
        </div>

    </div>
</section>